{% extends 'layout.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="profile-box">
        <div class="about">
            ABOUT ME
        </div>
        <div class="about-content">
            My name is Dominik and I'm web developer.<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci.
        </div>
        <div class="profileimg">
        </div>
        <hr>
    </div>
    <div class="content-box">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>
{% endblock %}