{% extends 'layout.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="profile-box">
        <div class="about">
            ABOUT ME
        </div>
        <div class="about-content">
            My name is Dominik and I'm web developer.<br>
            I'm relatively young because I'm only 16. I started making pages recently.Besides programming, I like to play
            <a class="link" href="https://eune.leagueoflegends.com/en-pl/how-to-play/" target="_blank">league</a>. I think I'm very sociable and it's not difficult to make new friends for me. My second passion is gym, I really like going there because I know that all the effort will pay off in the future.
        </div>
        <div class="profileimg">
        </div>
        <hr>
    </div>
    <div class="content-box">

    </div>
</div>
{% endblock %}
