{% extends 'layout.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}

<div class="container">
    <h1 class="subtitle">Portfolio</h1>
    <hr>
    <h2 class="illdosth">If I do something, I'll add</h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock %}
